<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .choice-btn {
            margin-left: 2em;
            margin-top: 0.5em;
        }
        #class-selector-container {
            width: 100%;
            text-align: center;
        }
        .level {
            width: 80%;
            margin-left: 10%;
            border-top: 1px solid gray;
            margin-top: 3em;
        }
        #report-container {
            margin-left: 5%;
            width: 90%;
            text-align: center;
            min-height: 10em;
            border: 2px solid black;
        }
        </style>
    </head>
<body>
    <!-- SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script>
        var current_annotation = [];
        var json_string = '{{json_structure}}'.replace(/&#39;/g,'"');
        console.log(json_string);
        var json = JSON.parse(json_string);

        function get_vals(current_json){
            var vals = [];
            for(var key in current_json){
                var obj = {};
                obj.title = key;
                obj.desc = current_json[key][0];
                if(current_json[key][1].count > 0){
                obj.next = current_json[key][1];}
                vals.push(obj);
            }
            return vals;
        }

        function remove(){
            if(current_annotation.length == 0){
                return;
            }
            document.getElementById("doneBtn").hidden = true;
            var current_level = document.getElementById("level"+current_annotation.length);
                var real_length = current_annotation.length - 1;
            if(current_level == null){
                current_level = document.getElementById("level"+(current_annotation.length - 1));
                real_length = current_annotation.length - 2;
                current_annotation.pop();
            }
            current_level.parentNode.removeChild(current_level);
            k = current_annotation.pop();
            if(current_annotation.length == 0){
            document.getElementById("removeBtn").hidden = true;
            }
            let buttons = document.getElementById("level"+real_length).querySelectorAll("button");
            for(var i = 0; i < buttons.length; i++){
                var button = buttons[i];
                button.disabled = false;
                $(button).tooltip('hide');
            }

        }

        function detect_keys(key_code){
            console.log(key_code);
            if(key_code == 8 || key_code == 46) {
                remove();
            }
            else if(key_code == 13) {
                done();
            }
            else {
            select(key_code - 49);
            }
        }

        $(document).on('keyup', function(e){
            detect_keys(e.which);
        })

        function done(){
            if (document.getElementById("level"+current_annotation.length) != null) {
                return;
            }
            console.log(current_annotation);
            window.location.href = "/pathology/submit/{{identifier}}/"+current_annotation.join('-').replace(/ /g,'&');
        }

        function select(k){
        if (document.getElementById("level"+current_annotation.length) == null) {
            return;
        }
        let buttons = document.getElementById("level"+current_annotation.length).querySelectorAll("button");
        if (k > buttons.length || k < 0){
            return;
        }
        document.getElementById("removeBtn").hidden = false;
            var current_json = json;
            current_annotation.push(buttons[k].getAttribute("class_title"));
            for(var j = 0; j < current_annotation.length; j++){
                current_json = current_json[current_annotation[j]][1];
            }
            for(var i = 0; i < buttons.length; i++){
                var button = buttons[i];
                button.disabled = true;
                $(button).tooltip('hide');
            }
            buttons[k].disabled = false;
            next_vals = get_vals(current_json);
            if(next_vals.length > 0){
            create_buttons(next_vals);
            }
            else {
            document.getElementById("doneBtn").hidden = false;
            }

        }

        function create_buttons(vals){
            var add_html = '<div class="level" id="level'+current_annotation.length+'">'
            for(var i = 0; i < vals.length; i++){
                var obj = vals[i];
                var button = '<button type="button" class="btn btn-dark choice-btn" data-toggle="tooltip" data-placement="top" title="'+ obj.desc + '" class_title="'+obj.title+'" onclick=\'select('+i+')\'>' + (i+1)+': ' + obj.title + '</button>';
                add_html += button;
            }
                        add_html += '</div>';
                        document.getElementById('class-selector-container').innerHTML += add_html;
            $('[data-toggle="tooltip"]').tooltip();
        }

        </script>

<h2>Pathology Report Labeling - {{count}}</h2>
<div id="report-container">
    <b>Part Type:</b> {{part_type}}
    <br />
    <b>Part Description:</b> {{part_desc}}
    <br />
    <b>Part Text:</b>
    <br />
    {{part_text}}
</div>
<br />
<div id="class-selector-container">
    <button type="button" id="removeBtn" class="btn btn-danger" hidden=true onclick="remove()">Remove(Backspace)</button>
    <br />
    </div>
<br />
    <button type="button" id="doneBtn" class="btn btn-success" hidden=true onclick="done()">Done(Enter)</button>

  <script>
      $(document).ready(function () {
          start_vals = get_vals(json);
          create_buttons(start_vals);
      });
  </script>
</body>
</html>
